<div class="container">
  <div class="request-breadcrumbs">{{breadcrumbs}}</div>

  <h1 class="request-title">{{request.subject}}</h1>
  {{#if 1}}
  {{else}}
    {{!- Add Link to Add Comments at the Bottom--}}
    <a class="collapsible-nav" href="#comment_section">{{t 'add_to_conversation'}}</a>
  {{/if}}

  <div id="main-content" class="request-container">
    <section class="request-main">
      {{satisfaction}}

      {{!- Add Comments at the Top (ENABLED)--}}
      {{#if 1}}
        {{!-- This will add the Add to Conversation at the top --}}
        <div id="comment_section" class="request-follow-up">
          <div id="customer_action_section" style="display:none">
            Here are additional actions you can take:<br>
            <button id="escalation_action" type="button" class="tkt-action-collapsible">Escalate your ticket</button>
            <div class="tkt-action-content">
              <p>Please provide a reason for your escalation and Couchbase will prioritize it accordingly. The more details you provide the better it will help us.</p>
              <form id="escalate_form" class="hbs-form">
                <label for="fname">What is your reason for escalation? (min. 50 characters)</label><br>
                <textarea id="escalate_reason" name="reason" cols="150" rows="2" minlength="50" maxlength="1000" required></textarea><br>
                <div class="escalation-disclaimer ">*Couchbase reserves the right to decide if a call or escalation is warrant based on your justification. Live troubleshooting sessions often delays resolution time, and if one warrants Couchbase Team will initiate a call once we have adequate logs.</div>
                <input type="submit" value="Escalate"><br>
                <!--button type="button" id="escalate_button">Escalate</button-->
              </form>
            </div>
          </div>
          {{comment_callout}}
        </div>
      
      	{{#form 'comment' class='comment-form'}}
          <div class="avatar comment-avatar">
            {{user_avatar class='user-avatar'}}
          </div>

          <div class="comment-container">
            <button type="button" class="comment-show-container {{#validate 'body'}}hidden{{/validate}}">
              {{t 'add_to_conversation'}}
            </button>

            <div class="comment-fields {{#validate 'body'}}shown{{/validate}}">
              {{#if help_center.request_ccs_enabled}}
                <div class="comment-ccs form-field">
                 {{token_field 'ccs' class='ccs-input'}}
                </div>
              {{/if}}

              {{wysiwyg 'body' rows='7'}}
              {{!--{{textarea 'body' rows='7'}}--}}

              <div class="comment-attachments">
                {{upload}}
              </div>
            </div>

            <div class="comment-form-controls">
              {{checkbox 'mark_as_solved'}}

              {{#if request.can_be_marked_as_solved}}
                <button type="button" class="button-large button-secondary mark-as-solved"
                  data-solve-translation="{{t 'mark_as_solved'}}"
                  data-solve-and-submit-translation="{{t 'mark_as_solved_and_submit'}}">
                  {{t 'mark_as_solved'}}
                </button>
              {{/if}}

              <span class="request-submit-comment {{#validate 'body'}}shown{{/validate}}">
                {{input type='submit' class="button button-large"}}
              </span>
            </div>
          </div>
        {{/form}}
      {{/if}}

      <ul class="comment-list">
        {{#each comments}}
          <li id="{{anchor}}" class="comment">
            <div class="comment-wrapper">
              <div class="comment-info">
                <div class="comment-author">
                  <div class="avatar comment-avatar">
                    {{#if author.agent}}
                      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" aria-hidden="true" viewBox="0 0 12 12" class="icon-agent" aria-label="{{t 'team_member' name=author.name}}">
                        <path fill="currentColor" d="M6 0C2.7 0 0 2.7 0 6s2.7 6 6 6 6-2.7 6-6-2.7-6-6-6zm0 2c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2zm2.3 7H3.7c-.3 0-.4-.3-.3-.5C3.9 7.6 4.9 7 6 7s2.1.6 2.6 1.5c.1.2 0 .5-.3.5z"/>
                      </svg>
                    {{/if}}
                    <img src="{{author.avatar_url}}" alt="" class="user-avatar"/>
                  </div>

                  <div class="comment-meta">
                    <span title="{{author.name}}">
                      {{#link 'user_profile' id=author.id}}
                        {{author.name}}
                      {{/link}}
                    </span>

                    <div class="meta-group">
                      <span class="meta-data">{{date created_at timeago=true}}</span>
                    </div>
                  </div>
                </div>

                <section class="comment-body">{{body}}</section>

                {{#if attachments}}
                  <ul class="attachments">
                    {{#each attachments}}
                      <li class="attachment-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16" class="attachment-icon">
                          <path fill="none" stroke="currentColor" stroke-linecap="round" d="M9.5 4v7.7c0 .8-.7 1.5-1.5 1.5s-1.5-.7-1.5-1.5V3C6.5 1.6 7.6.5 9 .5s2.5 1.1 2.5 2.5v9c0 1.9-1.6 3.5-3.5 3.5S4.5 13.9 4.5 12V4"/>
                        </svg>
                        <a href="{{url}}" target="_blank">{{name}}</a>
                        <div class="attachment-meta meta-group">
                          <span class="attachment-meta-item meta-data">{{size}}</span>
                          <a href="{{url}}" target="_blank" class="attachment-meta-item meta-data">{{t 'download'}}</a>
                        </div>
                      </li>
                    {{/each}}
                  </ul>
                {{/if}}
              </div>
            </div>
          </li>
        {{/each}}
      </ul>

      <a href="#top_section">{{t 'return_to_top'}}</a>

      {{pagination}}

      {{!- Add Comments at the Bottom (DISABLED) --}}
      {{#if 1}}
      {{else}}
        {{!-- This will add the Add to Conversation at the bottom --}}
        <div id="comment_section" class="request-follow-up">
          {{comment_callout}}
        </div>

        {{#form 'comment' class='comment-form hbs-form'}}
          <div class="avatar comment-avatar">
            {{user_avatar class='user-avatar'}}
          </div>

          <div class="comment-container">
            <button type="button" class="comment-show-container {{#validate 'body'}}hidden{{/validate}}">
              {{t 'add_to_conversation'}}
            </button>

            <div class="comment-fields {{#validate 'body'}}shown{{/validate}}">
              {{#if help_center.request_ccs_enabled}}
                <div class="comment-ccs form-field">
                {{token_field 'ccs' class='ccs-input'}}
                </div>
              {{/if}}

              {{wysiwyg 'body' rows='7'}}

              <div class="comment-attachments">
                {{upload}}
              </div>
            </div>

            <div class="comment-form-controls">
              {{checkbox 'mark_as_solved'}}

              {{#if request.can_be_marked_as_solved}}
                <button type="button" class="button-large button-secondary mark-as-solved"
                  data-solve-translation="{{t 'mark_as_solved'}}"
                  data-solve-and-submit-translation="{{t 'mark_as_solved_and_submit'}}">
                  {{t 'mark_as_solved'}}
                </button>
              {{/if}}

              <span class="request-submit-comment {{#validate 'body'}}shown{{/validate}}">
                {{input type='submit' class="button button-large"}}
              </span>
            </div>
          </div>
        {{/form}}
      {{/if}}
    </section>

    <section class="request-sidebar collapsible-sidebar">
      <button type="button" class="collapsible-sidebar-toggle" aria-labelledby="request-sidebar-title" aria-expanded="false">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" focusable="false" viewBox="0 0 12 12" aria-hidden="true" class="collapsible-sidebar-toggle-icon chevron-icon">
          <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" focusable="false" viewBox="0 0 12 12" aria-hidden="true" class="collapsible-sidebar-toggle-icon x-icon">
          <path stroke="currentColor" stroke-linecap="round" d="M3 9l6-6m0 6L3 3"/>
        </svg>
      </button>
      <h2 id="request-sidebar-title" class="collapsible-sidebar-title">
        {{t 'ticket_details'}}
      </h2>
      <div class="collapsible-sidebar-body">
        {{#if request.followup_source_id}}
          <dl class="request-details">
            <dt>{{t 'followup'}}</dt>
            <dd>{{link 'request' id=request.followup_source_id}}</dd>
          </dl>
        {{/if}}

        {{#with satisfaction_response}}
          {{#with rating}}
            <dl class="request-details">
              <dt>{{t 'rating'}}</dt>
              <dd>
                <div>
                  {{#is scale_type 'numeric'}}
                    {{t 'numerical_rating' value=value max_value=max_value}}
                  {{else}}
                    {{scale_value}}
                  {{/is}}
                </div>

                {{#link 'survey_response' id=../id}}
                  {{#if ../editable}}
                    {{t 'edit_feedback'}}
                  {{else}}
                    {{t 'view_feedback'}}
                  {{/if}}
                {{/link}}
              </dd>
            </dl>
          {{else}}
            {{#if editable}}
              <dl class="request-details">
                <dt>{{t 'rating'}}</dt>
                <dd>
                  {{#link 'survey_response' id=id}}
                    {{t 'add_feedback'}}
                  {{/link}}
                </dd>
              </dl>
            {{/if}}
          {{/with}}
        {{/with}}

        <dl class="request-details">
          <dt>{{t 'requester'}}</dt>
          <dd>{{request.requester.name}}</dd>

          <dt>{{t 'created'}}</dt>
          <dd>{{date request.created_at}}</dd>

          <dt>{{t 'last_activity'}}</dt>
          <dd>{{date request.updated_at}}</dd>

          {{#if collaborators}}
            <dt>{{t 'ccs'}}</dt>
            <dd>
              <ul class="request-collaborators">
                {{#each collaborators}}
                  <li title="{{name}}">{{name}}</li>
                {{/each}}
              </ul>
            </dd>
          {{/if}}
        </dl>

        <dl class="request-details">
          {{#if assignee}}
            <dt>{{t 'assignee'}}</dt>
            <dd>
              {{assignee.name}}
            </dd>
          {{/if}}

          <dt>{{t 'id'}}</dt>
          <dd>#{{request.id}}</dd>

          {{#form 'organization' id='request-organization' class='hbs-form'}}
            <dt>{{t 'organization'}}</dt>
            <dd>{{select 'organization'}}</dd>
          {{/form}}

          {{#if group}}
            <dt>{{t 'group'}}</dt>
            <dd>
              {{group.name}}
            </dd>
          {{/if}}

          <dt>{{t 'status'}}</dt>
          <dd>
            <span class="status-label status-label-request status-label-{{request.status}}" title="{{request.status_description}}">
              {{request.status_name}}
            </span>
          </dd>

          {{#if request.type}}
            <dt>{{request.type_title}}</dt>
            <dd>
              {{request.type_name}}
              {{#is request.type 'task'}}
                {{t 'task_due_date' due_date=request.due_date}}
              {{/is}}
            </dd>
          {{/if}}

          {{#if request.priority}}
            <dt>{{request.priority_title}}</dt>
            <dd>
              {{request.priority_name}}
            </dd>
          {{/if}}

          {{#each custom_fields}}
            <dt>{{title}}</dt>
            <dd>
              {{value}}
            </dd>
          {{/each}}
        </dl>

        {{#if attachments}}
          <dl class="request-details request-attachments">
            <dt>{{t 'attachments_heading'}}</dt>
            <dd>
              <ul class="attachments">
                {{#each attachments}}
                  <li class="attachment-item">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16" class="attachment-icon">
                      <path fill="none" stroke="currentColor" stroke-linecap="round" d="M9.5 4v7.7c0 .8-.7 1.5-1.5 1.5s-1.5-.7-1.5-1.5V3C6.5 1.6 7.6.5 9 .5s2.5 1.1 2.5 2.5v9c0 1.9-1.6 3.5-3.5 3.5S4.5 13.9 4.5 12V4"/>
                    </svg>
                    <a href="{{url}}" target="_blank">{{name}}</a>
                    <div class="attachment-meta meta-group">
                      <span class="attachment-meta-item meta-data">{{size}}</span>
                      <a href="{{url}}" target="_blank" class="attachment-meta-item meta-data">{{t 'download'}}</a>
                    </div>
                  </li>
                {{/each}}
              </ul>
            </dd>
          </dl>
        {{/if}}
      </div>
    </section>
  </div>
</div>


<script type="text/javascript">   
    $( function() {
      const ENABLE_ACTION_SECTION = Object.freeze(true);

      // Cache jQuery selector and create a reusable function for processing request details
      const $requestDetails = Object.freeze($(".request-details dt"));
      const processRequestDetail = Object.freeze((label, processor) => {
        let result = null;
        $requestDetails.filter(function() {
          return $.trim($(this).text()) === label;
        }).each((ind, obj) => {
          const $next = $(obj).next();
          result = processor($next, obj);
        });
        return result;
      });

      const getTicketId = Object.freeze(() => {
        // Process Ticket Id field
        return processRequestDetail("Id", ($next, obj) => {
          return $.trim($next.text()).substring(1);
        });
      });

      const isEscalatable = Object.freeze((status, ent, isManager) => {
        return (ENABLE_ACTION_SECTION && status !== "solved" && (ent.includes("gold") || ent.includes("platinum") || isManager));
      });

      $('#escalate_form').on('submit', function(e) {
        e.preventDefault();                           
        const business_impact = Object.freeze($('#escalate_reason')); 
        const id = Object.freeze(getTicketId());

        if (id && business_impact) {
          business_impact = business_impact.val().trim()
          if (business_impact.length < 25) {
            alert("The escalation reason doesn't meet the 50-character minimum.")                              
          } else {
            jQuery.ajax({url: "/api/v2/users/me.json",
              type: "GET", 
              contentType: 'application/json', 
              success: function(json) {
                //console.log(json);
                const csrftoken = Object.freeze(json['user']['authenticity_token']);
                //alert("Subdomain "+subdomain+" had "+json['total']+' incidents in the last 30 days'); 

                jQuery.ajax({url: "/api/v2/requests/" + id + ".json",
                  type: "PUT", 
                  contentType: 'application/json', 
                  headers: { "X-CSRF-Token": csrftoken },
                  data: JSON.stringify({
                        request: { comment: { html_body: "This is an automated message triggered by an escalation action (code:#escalate)<br><b>Reason for your escalation:</b> " + business_impact + "<br>---<br>Dear " + HelpCenter.user.name + ",<br>A Couchbase Support Engineer is being contacted and will be updating the ticket shortly.<br>" } }
                  }),
                  success: function(json) {
                    $("#customer_action_section").html("<b style='color:green'>Your ticket has been escalated! The Support Team will be reaching out to you shortly.</b>");
                    //console.log(json)
                  }
                });
              }
            });
          }
        }
      });
     
    $(document).ready(function() {
      // Protect the value of isManager by using an IIFE to encapsulate the logic, similar to how eval isolates scope
      const isManager = Object.freeze(HelpCenter.user?.role === "manager");
      
      /*      // Protect the value of isManager by using an IIFE to encapsulate the logic, similar to how eval isolates scope
      // Encapsulate isManager in a closure to prevent tampering via the console
      Object.defineProperty(window, "isManager", {
        value: (() => {
          const role = HelpCenter.user && HelpCenter.user.role;
          return Object.freeze(role === "manager");
        })(),
        writable: false,
        configurable: false,
        enumerable: false
      });*/
      
      // Toggle the collapsible section
      $(".tkt-action-collapsible").on("click", function() {
        $(this).toggleClass("tkt-action-active");
        $(this).next().slideToggle();
      });
  
      // This will add valid information to the Attachment field and description
      $('div#upload-dropzone').after("<div class='form-field'><p>Maximum attachment size is 50MB. Please, review instructions for <a href=\"https://support.couchbase.com/hc/en-us/articles/218320083\" target=\"_blank\" rel=\"noopener noreferrer\">Working with the Couchbase Support Team</a> on how to upload larger files.</p></div>");

        // Process Escalated field
        const escalated = (() => {
          const value = processRequestDetail("Escalated", ($next, obj) => {
            const esc = $.trim($next.text().toLowerCase());
            $next.text(esc === "—" ? "No" : "Yes");
            return esc === "—" ? "No" : "Yes";
          });
          return {
            get value() {
              return value;
            }
          };
        })();

        // Process Last Escalated field
        const lastEscalated = Object.freeze(processRequestDetail("Last Escalated", ($next, obj) => {
          const lastEscalatedStr = $.trim($next.text().toLowerCase());
          try {
            const lastEscalated = new Date(Date.parse(lastEscalatedStr)).toJSON().slice(0, 10);
            const today = new Date().toJSON().slice(0, 10);
            if (today === lastEscalated) {
              $("#customer_action_section").html("<b style='color:blue'>This ticket has already been escalated today! Support Team was notified and is engaged.<br>Please update the ticket if you have more details to share or call our <a href=\"https://support.couchbase.com/hc/en-us/articles/218320083#escalation\" target=\"_blank\" rel=\"noopener noreferrer\">Hotline</a> for anything else urgent.</b>");
            }
            return lastEscalated;
          } catch {
            // Swallow parsing errors
            return null;
          }
        }));

        // Process Status field
        const status = Object.freeze(processRequestDetail("Status", ($next, obj) => {
          return $.trim($next.text().toLowerCase());
        }));

        // Process Entitlement field
        const ent = Object.freeze(processRequestDetail("Entitlement", ($next, obj) => {
          const entitlement = $.trim($next.text().toLowerCase());
          $next.remove();
          $(obj).remove();
          return entitlement;
        }));

        // Process Priority field
        const priority = Object.freeze(processRequestDetail("Priority", ($next, obj) => {
          return $.trim($next.text().toLowerCase());
        }));
        //console.log(ent + " - " + priority)

        $("#call_request_action").remove();
        if (isEscalatable(status, ent, isManager)) {
    			$("#customer_action_section").show();
          /*if (priority == "p1") { //|| priority == "p2"
  					 //$("#call_request_action").show();
  				} else {
             $("#call_request_action").hide();
          }*/
  			} else {
    		  $("#customer_action_section").hide();
        }
    });     
  });
</script>